@charset "UTF-8";
.modal-body {
	position : relative;
}
.modal-dialog{
	width:auto;
	display:table;
}
.table-container{
	text-align: center;
	max-width : 1200px;
	max-height : 500px;
	white-space: nowrap;
	overflow:scroll;
}
.table-container table {
	width : auto;
}
.table-bordered {
    text-align: center;
   }
.modal-body .uploadOption{
	display: none;
    position: absolute;
    top: 0;
    left: 15%;
}