<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardReplyMapper">
	
	<!-- 댓글 등록 -->
	<insert id="insertBoardReply" parameterType="com.kim.ilhwaland.dto.BoardReply">
		<selectKey keyProperty="reply_num" resultType="int" order="BEFORE">
			SELECT boardreply_SEQ.NEXTVAL AS reply_num FROM DUAL
		</selectKey>
		INSERT INTO boardreply VALUES(#{reply_num},#{board_num},#{parent},#{seq},#{depth},#{reply},#{reply_writer},#{reply_writer_nickname},#{reply_password},SYSDATE)
	</insert>
	
	<!-- 해당 게시글 댓글 출력 -->
	<select id="selectBoardReply"  parameterType="int" resultType="com.kim.ilhwaland.dto.BoardReply">
		SELECT reply_num, board_num, reply_writer_nickname, reply, TO_CHAR(register_date, 'YY-MM-DD') as register_date 
		FROM boardreply 
		WHERE board_num = ${value}
		ORDER BY reply_num
	</select>
	
	<!-- 댓글 수정 -->
	<update id="updateBoardReply"  parameterType="com.kim.ilhwaland.dto.BoardReply">
		UPDATE boardreply SET reply = #{reply}, reply_writer_nickname = #{reply_writer_nickname} WHERE reply_num = #{reply_num}
	</update>
	
	<!-- 댓글 삭제 : 단일댓글 삭제 OR 복수댓글 삭제 -->
	<delete id="deleteBoardReply" parameterType="com.kim.ilhwaland.dto.BoardReply">
		DELETE FROM boardReply 
		<where>
			<if test="reply_num != 0"> reply_num = ${reply_num} </if>
			<if test="board_num != 0"> board_num = ${board_num} </if>
		</where>
	</delete>
	
	<!-- 댓글 비밀번호 확인 -->
	<select id="selectReplyPassword"  parameterType="com.kim.ilhwaland.dto.BoardReply" resultType="int">
		SELECT count(*) FROM boardreply WHERE reply_num = ${reply_num} AND reply_password = ${reply_password}
	</select>
	
	<!-- 수정 할 댓글 조회 -->
	<select id="selectReply"  parameterType="int" resultType="com.kim.ilhwaland.dto.BoardReply">
		SELECT * FROM boardreply WHERE reply_num = #{reply_num} 
	</select>
</mapper>