@charset "UTF-8";
.modify_form_wrap {
	padding: 35px;
}

#board-form input {
	padding: 20px 0;
}

h3 {
 	margin-top: 0;
   	margin-bottom: 35px;
}

label {
	line-height
}

.form-group {
	overflow: hidden;
}
.container {
	width: 100%;
   	font-size: 12px;
}

#content {
	min-height: 100vh;
    background-color: #f7f7fc;
    position: relative;
    min-width: 70%;
    padding: 0 20px;
    position: absolute;
    min-width: 70%;
    left: 20%;
    top: 0;
    width: 70%;
    margin: 0 auto;
}